main {
    float: left;
}
.blog-content-box{
    background-color: rgba(255, 255, 255, 0);
}
aside {
    float: right;
}

.aside-box div:first-child{
	display:none;
}
.box-box-large{
	display:none;
}
.box-box-aways{
	display:none;
}
main div:nth-child(5){
	display:none;
}
.csdn-tracking-statistics.mb8.box-shadow{
	display:none; 
}
.J_adv{
	display:none;
}
.post_body div:nth-last-child(2){
	display:none;
}
#_360_interactive{
	display:none;
}
.meau-list li:nth-child(7){
	display:none;
}
.text.float-left{
	display:none;
}
.recommend-item-box.recommend-ad-box{
	display:none;
}

.bbs_detail_wrap div:nth-child(5){
	display:none;
}
.bbs_feed.bbs_feed_ad_box{
	display:none;
}